<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Dashboard</title>-->
<!--    <style>-->
<!--        body { font-family: Arial; margin: 40px; }-->
<!--        .box { padding: 20px; border: 1px solid #ccc; width: 400px; }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->

<!--<h2>Dashboard</h2>-->

<!--<div class="box">-->
<!--    <p><b>Email:</b> <span th:text="${email}"></span></p>-->
<!--    <p><b>Roles:</b></p>-->
<!--    <ul>-->
<!--        <li th:each="r : ${roles}" th:text="${r.authority}"></li>-->
<!--    </ul>-->

<!--    <br>-->
<!--    <a href="/admin">Go to Admin Page</a>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->