<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Login</title>-->
<!--    <link rel="stylesheet" th:href="@{/auth.css}">-->

<!--</head>-->
<!--<body>-->

<!--<div class="card">-->
<!--    <div class="logo">Expance<span>Tracker</span></div>-->
<!--    <div class="subtitle">Welcome back</div>-->

<!--    <form method="post" action="/login-form">-->
<!--        <label>Email</label>-->
<!--        <input type="email" name="email" placeholder="Enter your email">-->

<!--        <label>Password</label>-->
<!--        <input type="password" name="password" placeholder="Enter your password">-->

<!--        <button type="submit">Login</button>-->
<!--    </form>-->

<!--    <div class="error" th:if="${error}" th:text="${error}"></div>-->

<!--    <div class="link">-->
<!--        Don’t have an account? <a href="/register">Register</a>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->